@import url('https://fonts.googleapis.com/css2?family=Sahitya:wght@400;700&display=swap');

html body {
    font-family: 'Sahitya', serif;
    background: #F2F2F2;
    color: $c-text;
}

.text-large {
    @include font-rem($fz-large);
    @media (max-width: 768px) {
        @include font-rem($fz-sm-large);
    }
    @media (max-width: 575px) {
        @include font-rem($fz-xs-large);
    }
}

.text-medium {
    @include font-rem($fz-medium);
    @media (max-width: 768px) {
        @include font-rem($fz-sm-medium);
    }
    @media (max-width: 575px) {
        @include font-rem($fz-xs-medium);
    }
}

.text-small {
    @include font-rem($fz-small);
}

.light-text {
    color: $c-background;
}