/*------------------------------------*\
  Transversal Elements
  #Styles variables
\*------------------------------------*/

/* Color variables */

$c-text: #302020;
$c-background: #E7E7E7;

$c-custom-1: #C4C4C4B3;
$c-custom-2: #CECECE;
$c-custom-3: #4F4C4C;
$c-custom-4: #F9DA8B;
$c-custom-5: #CCBAE3;


/* Size variables */
$fz-large: 96px;
$fz-medium: 48px;
$fz-small: 22px;