/*------------------------------------*\
  Transversal Elements
  #Styles variables
\*------------------------------------*/

/* Color variables */

$c-text: #302020;
$c-background: #E7E7E7;

$c-custom-1: #CECECE;
$c-custom-1--background: #D9D9D9;
$c-custom-2: #4F4C4C;
$c-custom-2--background: #5C5C5C;
$c-custom-3: #F9DA8B;
$c-custom-3--background: #FFF5E5;
$c-custom-4: antiquewhite;


/* Size variables */
$fz-large: 96px;
$fz-medium: 48px;
$fz-small: 22px;

$fz-sm-large: 72px;
$fz-sm-medium: 34px;

$fz-xs-large: 52px;
$fz-xs-medium: 24px;